[submodule "ecap-stream"]
	path = ecap-stream
	url = git@github.com:51390/ecap-stream.git
[submodule "prism"]
	path = prism
	url = git@github.com:51390/prism.git
[submodule "elastic-stack"]
	path = elastic-stack
	url = git@github.com:dpereira/elastic-stack.git
